.mat-raised-button{
    margin-right: 10px;
}

.responsive{
    border: 1mm;
    
}
#addNew{
    visibility:hidden;
}
.filler{
    width: 5%;
}

.container {
    margin-top: 20px;
    display: flex;
  }

 
.mat-card {
    /* width: 40%; */
    margin-right: 10%;
    margin-left: 10%;
  }
  