<tree-root [nodes]="nodes" [options]="options"></tree-root>


<button mat-raised-button color="primary" *ngFor="let row of lookups" (click)="setGroup(row)">{{row.titlear}}</button>
<br>
<br>
<button mat-raised-button color="primary" (click)="addnew()" *ngIf="group != null">Add new {{group.titlear}}</button>
<br>
<div *ngIf="lookupitems.length>0 && visible" id="datatable">


    <table class="responsive">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Mod</th>
            <th>Del</th>
        </tr>
        <tr *ngFor="let item of lookupitems">
            <td>{{item.id}}</td>
            <td>{{item.titlear}}</td>
            <td>
                <button mat-raised-button color="primary" (click)="modify(item)">Modify</button>
            </td>
            <td>
                <button mat-raised-button color="primary" (click)="delete(item)">Delete</button>
            </td>
        </tr>
    </table>

</div>


<div *ngIf="group != null">


    <div *ngIf="form">
        <mat-card>
            <mat-tab-group>
                <div class="AddLookup">
                    <mat-tab label=":العملية">{{operation}}
                        <hr>{{group.titlear}}
                        <br>
                        <br>
                        <div class="the-container">
                            <mat-form-field>
                                <input matInput required placeholder="الإسم بالعربي" name="email" [(ngModel)]="bank.titlear">
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput required placeholder="المجموعة" name="group" [(ngModel)]="bank.group">
                            </mat-form-field>
                            <span class="filler"></span>
                            <mat-form-field *ngIf="bank.parent!=0">
                                <input matInput  placeholder="العنوان" name="add" [(ngModel)]="data.address">
                            </mat-form-field>
                            <mat-form-field required *ngIf="bank.group=='banks'  || bank.group=='tresuries'">
                                <input matInput placeholder="الرصيد" name="balance" [(ngModel)]="data.balance" value="group.group">
                            </mat-form-field>
                            <mat-form-field *ngIf="bank.group=='item'">
                                <input matInput required placeholder="سعر الوحدة" name="price" [(ngModel)]="data.price">
                            </mat-form-field>
                            <select matNativeControl required class="primary" [(ngModel)]="bank.isleaf">
                                <option *ngFor="let ch of leaf" [(value)]="ch.value">{{ch.viewValue}} </option>


                            </select>
                            <br>
                            <br>
                        </div>
                        <button mat-raised-button (click)="save(bank)" color="primary">حفظ</button>
                    </mat-tab>
                </div>

            </mat-tab-group>
        </mat-card>



    </div>
</div>