<div class="container" dir="rtl">
  <br>
  <mat-card class="logs-card">
    <mat-form-field class="loginput">
      <input matInput type="search" placeholder="اسم المستخدم" name="user" id="user" [(ngModel)]="username">
    </mat-form-field>
    <mat-form-field class="loginput">
      <input matInput [matDatepicker]="fromdate" placeholder="من تاريخ">
      <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
      <mat-datepicker #fromdate></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="loginput">
      <input matInput [matDatepicker]="todate" placeholder="إلى تاريخ">
      <mat-datepicker-toggle matSuffix [for]="todate"></mat-datepicker-toggle>
      <mat-datepicker #todate></mat-datepicker>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="refresh()" class="loginput">حصر</button>
    <table>
      <tr>
        <th>اسم المستخدم</th>
        <th>التاريخ</th>
        <th>الجدول</th>
        <th>الشاشه</th>
        <th>العمليه</th>
      </tr>

      <tr *ngFor="let log of page">
        <td>{{log.user}}</td>
        <td>{{log.date}}</td>
        <td>{{log.table}}</td>
        <td>{{log.screen}}</td>
        <td> <button mat-fab-button (click)="details(log)"><img src="assets/{{log.cud}}.png" alt="" width="32"></button>
        </td>
      </tr>
    </table>
    <mat-paginator [length]="logs.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" (page)="setPage($event)">
    </mat-paginator>
  </mat-card>
  <mat-card *ngIf="log" class="log-card">
    <div class="log-div">
      <h3 *ngIf="log.cud=='c'">تمت اضافه هذا السجل</h3>
      <h3 *ngIf="log.cud=='u'">تم تعديل هذا السجل</h3>
      <h3 *ngIf="log.cud=='d'">تم حذف هذا السجل</h3>
      <table>
        <tr>
          <th *ngFor="let field of log.row">{{field.name}}</th>
        </tr>
        <tr>
          <td *ngFor="let field of log.row">{{field.value}}</td>
        </tr>
      </table>
    </div>
  </mat-card>
</div>