.container {
    margin-top: 20px;
    display: flex;
  }
  .logs-card{
      width:500px;
  }
.log-card{
      margin-right: 10px;
        width:500px;
  }
  .loginput{
    width:120px;
    margin-right: 5px;
  }