<mat-card>
  <br><br>
  <button mat-raised-button color="primary" (click)="setType('s')">فاتورة مبيعات</button>&nbsp;
  <button mat-raised-button color="primary" (click)="setType('p')">أوامر الطلبيات</button>
  <br>
  <br>
  <div class="AddLookup" *ngIf="invoice.type!=''">
    <h1> إصدار فاتورة {{operation}}</h1>
    {{message}}
    <br>
    <br>
    <h3 *ngIf="invoice.type=='s'">بيانات العميل</h3>

    <div *ngIf="invoice.type=='p'">
      <h3>بيانات الطلبية</h3>
      <mat-form-field>
        <input matInput required placeholder="رقم الرسالة" name="shipno" [(ngModel)]="invoice.shipno">
      </mat-form-field>
      <hr>
    </div>
    <h3 *ngIf="invoice.type=='p'">بيانات المورد</h3>
    <mat-form-field *ngIf="invoice.type=='s'">
      <mat-select placeholder="إختيار العميل" [(ngModel)]="selecteditem" (change)="selected($event.value)">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let op of cuss" [value]="op">{{op.fullname}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="invoice.type=='p'">
      <mat-select placeholder="إختيار العميل" [(ngModel)]="selecteditem" (change)="selected($event.value)">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let op of supp" [value]="op">{{op.fullname}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <!-- <input *ngIf="invoice.type=='s'" type="text" required placeholder="إسم العميل"  matInput
        [formControl]="myControl" [matAutocomplete]="auto">


      <input *ngIf="invoice.type=='p'" type="text" required placeholder="إسم المورد"  matInput
        [formControl]="myControl" [matAutocomplete]="auto" >
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="selected(option)">
          {{option.fullname}}
        </mat-option>
      </mat-autocomplete>
 -->

    <mat-form-field>
      <input matInput required placeholder=" اسم العميل" [(ngModel)]="selecteditem.fullname" [disabled]="true">
    </mat-form-field>




    <mat-form-field>
      <input matInput required placeholder=" رصيد العميل" [(ngModel)]="selecteditem.balance" [disabled]="true">
    </mat-form-field>

    <mat-form-field>
      <input matInput required placeholder=" تلفون العميل" [(ngModel)]="selecteditem.data.phone" [disabled]="true">
    </mat-form-field>

    <hr>
    <h2>الأصناف</h2>
    <mat-form-field>

      <mat-select placeholder="إختيار الصنف" [(ngModel)]="product" required>
        <mat-option>None</mat-option>
        <mat-option *ngFor="let op of productsview" [value]="op">{{op.titlear}}</mat-option>
      </mat-select>

    </mat-form-field>



    رقم الصنف : {{product.id}} <br>



    <mat-form-field>
      <input matInput required placeholder="سعر الوحدة" name="price" [(ngModel)]="product.price" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput required placeholder=" العدد" name="price" [(ngModel)]="product.count" (blur)="sum(product.count,product.price)" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput required placeholder=" المبلغ" name="total"  [(ngModel)]="product.totalprice"   required [disabled]="true">
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="إختيار المخزن" [(ngModel)]="product.store" required>
        <mat-option>None</mat-option>
        <mat-option *ngFor="let op of storeselect" [value]="op">{{op.titlear}}</mat-option>
      </mat-select>

    </mat-form-field>

    <button mat-raised-button (click)="additem(product)">
      <img src="assets/icnAdd.png" alt="" width="32"  class="btn-img">
    </button>
    <table>
      <tr>
        <th>رقم الصنف</th>
        <th>الصنف</th>
        <th>السعر</th>
        <th>العدد</th>
        <th>الإجمالي</th>
        <th>المخزن</th>
      </tr>
      <tr *ngFor="let row of invoiceitems;let i = index;">
        <td>{{row.id}}</td>
        <td>{{row.titlear}}</td>
        <td>{{row.price}}</td>
        <td>{{row.count}}</td>
        <td>{{row.totalprice}}</td>
        <td>{{row.store.titlear}}</td>
        <td>
            <img src="assets/icnDelete.png" alt="" width="32" (click)="remove(row,i)" class="btn-img" matTooltip="حذف">
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>المجموع</td>
        <td>{{invoice.total}}</td>
      </tr>
    </table>
    <hr>
    <h3> الدفع</h3>
    <mat-form-field>
      <select matNativeControl required class="primary" [(ngModel)]="payment.paymentmethod" placeholder="طريقة الدفع">
        <option *ngFor="let ch of paymentmethods" [(value)]="ch.value">{{ch.viewValue}} </option>

      </select>
    </mat-form-field>

    <br>
    <br>

    <button mat-raised-button (click)="save(bank,data)" color="primary">حفظ</button>

  </div>

</mat-card>