<br><br>
<button mat-raised-button color="primary" (click)="setType('s')">فاتورة مبيعات</button>&nbsp;
<button mat-raised-button color="primary" (click)="setType('p')">فاتورة مشتريات</button>
<br>
<br>

<div *ngIf="invoice.type!=''">
  <mat-card>

    <div class="AddLookup">
      <h1> إصدار فاتورة {{operation}}</h1>
      {{message}}
      <br>
      <br>
      <mat-form-field *ngIf="invoice.type=='s'">
          <mat-select placeholder="إختيار العميل"  [(ngModel)]="selecteditem" (change)="selected($event.value)">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let op of cuss" [value]="op">{{op.fullname}}</mat-option>
            </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="invoice.type=='p'">
          <mat-select placeholder="إختيار العميل"  [(ngModel)]="selecteditem" (change)="selected($event.value)">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let op of supp" [value]="op">{{op.fullname}}</mat-option>
            </mat-select>
      </mat-form-field>
      <br>
      <!-- <input *ngIf="invoice.type=='s'" type="text" required placeholder="إسم العميل"  matInput
        [formControl]="myControl" [matAutocomplete]="auto">


      <input *ngIf="invoice.type=='p'" type="text" required placeholder="إسم المورد"  matInput
        [formControl]="myControl" [matAutocomplete]="auto" >
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="selected(option)">
          {{option.fullname}}
        </mat-option>
      </mat-autocomplete>
 -->

      <mat-form-field>
        <input matInput required placeholder=" اسم العميل" [(ngModel)]="selecteditem.fullname">
      </mat-form-field>




      <mat-form-field>
        <input matInput required placeholder=" رصيد العميل" [(ngModel)]="selecteditem.balance">
      </mat-form-field>

      <mat-form-field>
        <input matInput required placeholder=" تلفون العميل" [(ngModel)]="selecteditem.data.phone">
      </mat-form-field>

      <br>
      <mat-form-field>
        <!-- <input type="text" required placeholder="إختيار الصنف"  matInput [formControl]="myControl"
          [matAutocomplete]="auto" (focus)="setfiltertype()">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="setitem(option)">
            {{option.titlear}}
          </mat-option> 
        </mat-autocomplete>-->
          <mat-select placeholder="إختيار الصنف"  [(ngModel)]="product">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let op of productsview" [value]="op">{{op.titlear}}</mat-option>
            </mat-select>
      
      </mat-form-field>



<br>{{product.titlear}}



      <mat-form-field>
        <input matInput required placeholder="سعر الوحدة" name="price" [(ngModel)]="item.price">
      </mat-form-field>
      <mat-form-field>

      <select matNativeControl required class="primary" [(ngModel)]="payment.paymentmethod" placeholder="طريقة الدفع">
        <option *ngFor="let ch of paymentmethods" [(value)]="ch.value">{{ch.viewValue}} </option>

      </select>
    </mat-form-field>

      <br>
      <br>

      <button mat-raised-button (click)="save(bank,data)" color="primary">حفظ</button>

    </div>

  </mat-card>


</div>