<mat-card color="accent">
  <h2>الشيكات</h2>
</mat-card>

<div>
  <mat-card>
    <table>
      <tr>
        <th>الرقم</th>
        <th>رقم الفاتورة</th>
        <th>اسم البنك</th>
        <th>المبلغ</th>
        <th>المصدر</th>
        <th>تاريخ الشيك</th>
        <th>إسم صاحب الحساب</th>
        <th>حالة الشيك</th>
    
        <th>تحديث حالة الشيك</th>

      </tr>
      <tr *ngFor="let check of checkes">
        <td>{{check.id}}</td>
        <td>{{check.invoice}}</td>
        <td>{{check.banckname}}</td>
        <td>{{check.amount}}</td>
        <td *ngIf="check.source=='صادر'" style="color: red">{{check.source}}</td>
        <td *ngIf="check.source!='صادر'" style="color: green">{{check.source}}</td>
        <td>{{check.date | date : 'dd/MM/yyyy'}}</td>
        <td>{{check.checkowner}}</td>
        <td>
          {{check.status}}
        </td>
        <td><button mat-raised-button color="warn" (click)="update(check)">تحديث حالة</button></td>
      </tr>
    </table>
  </mat-card>
</div>