<!-- <p>نظام إدارة المبيعات والمشتروات</p> -->

<mat-toolbar color="primary" class="mat-elevation-z4 mytoolbar">
  <p><button mat-button (click)="sidenav.toggle()"><img src="assets/icnMenu.png" width="32" alt=""></button></p>
  <img src="assets/logo.png" alt="" width="50px">

  <span>
    &nbsp;
    <div class="site-title">
      نظام إدارة المبيعات والمشتروات
    </div>
  </span>
  <span class="filler">
  </span>
  <div *ngIf="user.id>0; else elseBlock" class="site-title">
    <span>{{user.fullname}} &nbsp;</span> &nbsp;&nbsp;
    <span *ngIf="user.photo.length>0"><img src="{{user.photo}}" alt="" class="profile-avatar"></span>&nbsp;&nbsp;
    <span *ngIf="user.photo.length==0"><img src="assets/user.png" alt="" class="profile-avatar"></span>&nbsp;&nbsp;
    <button mat-button (click)="logout()" matTooltip="Log out, and save data before that!!">خروج</button>
  </div>
  <ng-template #elseBlock>
    <span>
      <button width="32" type="button" class="right" mat-button (click)="routeTo('/login')"> دخول
      </button>
    </span>
  </ng-template>

</mat-toolbar>
<div [hidden]="!appIsBusy" class="prog-bar">
  <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
</div>
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav [mode]="mode.value">
    <a [routerLink]="['']" (click)="goto('/')" class="sd-btn" (click)="sidenav.toggle()">الرئسيه</a><br>
    <a [routerLink]="['profile']" (click)="goto('/profile')" class="sd-btn" (click)="sidenav.toggle()">إعداداتي الخاصه</a><br>
    <hr>
    <h4>شاشات اعدادات النظام</h4>
    <hr>
    <a [routerLink]="['log']" (click)="goto('/log')" class="sd-btn" (click)="sidenav.toggle()">المراقبه</a><br>
    <a [routerLink]="['lookups']" (click)="goto('/lookups')" class="sd-btn" (click)="sidenav.toggle()">ضبط النظام</a><br>
    <a [routerLink]="['items']" (click)="goto('/items')" class="sd-btn" (click)="sidenav.toggle()"> إدارة الأصناف</a><br>
    <a [routerLink]="['users']" (click)="goto('/users')" class="sd-btn" (click)="sidenav.toggle()">إدارة المستخدمين</a><br>
    <a [routerLink]="['supcus']" (click)="goto('/supcus')" class="sd-btn" (click)="sidenav.toggle()">إدارة العملاء
      والموردين</a><br>

    <hr>
    <h4>شاشات الأفرع</h4>
    <hr>
    <a [routerLink]="['invoice/0']" (click)="goto('/invoice')" class="sd-btn" (click)="sidenav.toggle()">طلبات الشراء
      والفواتير</a><br>
    <a [routerLink]="['checks']" (click)="goto('/checks')" class="sd-btn" (click)="sidenav.toggle()">تحرير الشيكات</a><br>
    <!-- <a [routerLink]="['sadad']" (click)="goto('/sadad')" class="sd-btn" (click)="sidenav.toggle()">السداد و الدفعيات </a><br> -->
    <a [routerLink]="['spending']" (click)="goto('/spending')" class="sd-btn" (click)="sidenav.toggle()">تحرير
      المصروفات</a><br>
    <a [routerLink]="['returns']" (click)="goto('/returns')" class="sd-btn" (click)="sidenav.toggle()">تحرير المردودات</a><br>

    <hr>
    <h4>شاشات المخازن</h4>
    <hr>

    <a [routerLink]="['inventory']" (click)="goto('/inventory')" class="sd-btn" (click)="sidenav.toggle()">تحرير
      المخازن</a><br>
    <a [routerLink]="['returns']" (click)="goto('/returns')" class="sd-btn" (click)="sidenav.toggle()">تحرير المردودات</a><br>
    <hr>
    <h4>التقارير</h4>
    <hr>
    <a [routerLink]="['reports/pursales']" class="sd-btn" (click)="sidenav.toggle()">المشتروات والمبيعات</a><br>
    <a [routerLink]="['reports/suppcus']" class="sd-btn" (click)="sidenav.toggle()">العملاء والموردين</a><br>
    <a [routerLink]="['reports/pursalesret']" class="sd-btn" (click)="sidenav.toggle()">المردودات</a><br>
    <a [routerLink]="['reports/users']" class="sd-btn" (click)="sidenav.toggle()">المستخدمون</a><br>
    <a [routerLink]="['reports/spending']" class="sd-btn" (click)="sidenav.toggle()">المصروفات</a><br>
    <a [routerLink]="['reports/sadad']" class="sd-btn" (click)="sidenav.toggle()">كشف حساب السداد</a><br>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="main-div">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>