<h1 mat-dialog-title>إدخال بيانات</h1>
<h2 mat-dialog-title>{{form.type}} </h2>
<div mat-dialog-content>
    <mat-card>
        <mat-form-field>
            <input matInput required placeholder="الإسم "  [(ngModel)]="form.fullname">
        </mat-form-field>
        <mat-form-field>
            <input matInput required placeholder=" الرصيد المبدئي"  [(ngModel)]="form.balance">
        </mat-form-field>
        <mat-form-field>
            <input matInput required placeholder=" موبايل"  [(ngModel)]="form.data.phone">
        </mat-form-field>
        <mat-form-field>
            <input matInput required placeholder=" موبايل 2"  [(ngModel)]="form.data.phone2">
        </mat-form-field>
        <mat-form-field>
            <input matInput required placeholder=" بريد إلكتروني"  [(ngModel)]="form.data.email">
        </mat-form-field>
        <mat-form-field>
            <input matInput required placeholder=" رقم الواتساب"  [(ngModel)]="form.data.whatsapp">
        </mat-form-field>

        <!-- capture the location from the map save it to form.data.location -->
        <label>{{message}}</label>
    </mat-card>

</div>

<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">تراجع</button>
    <button mat-button (click)="save(form)">إستمرار</button>

</div>