<mat-card>
  <mat-card-header>
    <mat-card-title> تحويل الأصناف بين المخازن</mat-card-title>
    <mat-card-subtitle>نقل الأصناف من مخزن لمخزن</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <button mat-raised-button (click)="fetchOrder()" color="primary">عرض طلب سابق</button>
    <button mat-raised-button (click)="newOrder()" color="primary">طلب جديد</button>
    <img src="assets/icnLocked.png" alt="" *ngIf="storetostore.complete===1">
    <img src="assets/icnUnlocked.png" alt="" *ngIf="storetostore.complete===0">
    <br><br>
    <mat-form-field>
      <input matInput type="text" name="orderid" placeholder="رقم الطلب السابق" [(ngModel)]="storetostore.id">
    </mat-form-field>
    <table>
      <tr>
        <th>المخزن المصدر</th>
        <th>المخزن الهدف</th>
      </tr>
      <tr>
        <td>
          <mat-select placeholder="اختر المخزن المصدر" [(ngModel)]="fromstore" name="fromstore">
            <mat-option *ngFor="let store of stores" [value]="store" (click)="sourceSelected()">{{store.namear}}</mat-option>
          </mat-select>
        </td>
        <td>
          <mat-select placeholder="اختر المخزن الهدف" [(ngModel)]="tostore" name="tostore">
            <mat-option *ngFor="let store of stores" [value]="store" (click)="targetSelected()">{{store.namear}}</mat-option>
          </mat-select>
        </td>
      </tr>
      <tr>
        <th>الصنف</th>
        <th>الكميه المراد نقلها</th>
      </tr>
      <tr>
        <td>
          <mat-select placeholder="اختر الصنف" [(ngModel)]="itemid" name="itemid">
            <mat-option *ngFor="let item of sourceitems" [value]="item.id" (click)="itemSelected(item)">{{item.namear}}</mat-option>
          </mat-select>
        </td>
        <td>
          <input matInput [(ngModel)]="qty" placeholder="الكميه المراد تحويلها">
        </td>
      </tr>
      <tr>
        <th>الكميه في المصدر</th>
        <th>الكميه في الهدف</th>
      </tr>
      <tr>
        <td>{{qtyinsource}}</td>
        <td>{{qtyintarget}}</td>
      </tr>
    </table>
    <button mat-raised-button (click)="moveItems()" color="primary" [disabled]="storetostore.complete===1">حفظ التعديل</button>
    <button mat-raised-button (click)="addItem()" color="primary"  [disabled]="storetostore.complete===1">اضف الى القائمه</button>
    <button mat-raised-button (click)="print()" color="primary">طباعة</button>
    <div class="printdiv hide" *ngIf="fromstore && tostore">
      <table>
        <tr>
          <th>المخزن المصدر</th>
          <th>المخزن الهدف</th>
        </tr>
        <tr>
          <td>{{fromstore.namear}}</td>
          <td>{{tostore.namear}}</td>
        </tr>
      </table>
    </div>

    <div class="printdiv">
      <table>
        <tr>
          <th>الصنف</th>
          <th>التفاصيل</th>
          <th>الكميه</th>
        </tr>
        <tr *ngFor="let item of storetostore.data; let i= index">
          <td>{{item.id}}</td>
          <td>{{item.namear}}</td>
          <td>{{item.qty}}</td>
          <td><button mat-button (click)="deleteItem(i)" [disabled]="storetostore.complete===1"><img width="24" src="assets/icnDelete.png" alt=""></button>
          </td>
        </tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>