<mat-card>

  <mat-card-header>
    <mat-card-title>
      <h1>
        عمليات المخازن (تسليم / إستلام )

      </h1>
    </mat-card-title>

    <!-- <mat-card-title>
            <div *ngIf="retOb.type=='s'">
                <h1>مردودات المبيعات <img src="assets/icnSales.png" alt=""></h1>
            </div>
            <div *ngIf="retOb.type=='p'">
                <h1>مردودات المشتروات <img src="assets/icnPurchase.png" alt=""></h1>
            </div>
        </mat-card-title> -->
    <mat-card-subtitle> عمليات المخازن (تسليم / إستلام )</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <table>
      <thead>
        <tr>
          <th>
            المخزن
          </th>
          <th>
            إخترالنوع
          </th>
          <th>
            رقم العملية أو الفاتورة
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <mat-form-field style="width:98%">
              <mat-select placeholder="اختر المخزن" [(ngModel)]="delivery.lookupsid">

                <mat-option *ngFor='let ch of storelookups' [(value)]="ch.id">{{ch.namear}} </mat-option>
                <!-- <mat-option value="p">مردودات المشتروات</mat-option>> -->
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field style="width:98%">
              <mat-select placeholder="اختر النوع" [(ngModel)]="delivery.type">

                <mat-option *ngFor='let ch of types' [(value)]="ch.value">{{ch.viewValue}} </mat-option>
                <!-- <mat-option value="p">مردودات المشتروات</mat-option>> -->
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input matInput required placeholder=" رقم المرجع " [(ngModel)]="delivery.ref">

            </mat-form-field>

          </td>

        </tr>
        <tr>
          <td style="white-space: nowrap;">
            <button mat-raised-button color="primary" (click)="getItems()"> إسترجاع الأصناف من المرجع </button>&nbsp;
            <button mat-raised-button color="primary" (click)="getItems()">   حفظ  </button>&nbsp;
            <button mat-raised-button color="primary" (click)="print()">   طباعة  </button>&nbsp;

          </td>

        </tr>

      </tbody>
    </table>
    <table>
        <tr>
          <h3>إسم المستفيد : {{suppcusname}}</h3>
        </tr>
        <tr>
            <h3>رقم  المرجع : {{ref.id}}</h3>
          </tr>
        <tr>
          <th>الصنف</th>
          <th>العدد</th>
          <th>الكمية المسلمة / المستلمة</th>
          <th>ملاحظات</th>
  
        </tr>
        <tr *ngFor="let row of items">
          <td>{{row.name}}</td>
          <td>{{row.qty}}</td>
          <td>
            <mat-form-field>
              <input matInput required placeholder=" تم تسليم " [(ngModel)]="row.delivered" (blur)='verify(row)'>
  
            </mat-form-field>
          </td>
          <td>
            <mat-form-field style="width:98%">
              <input matInput required placeholder="  ملاحظة " [(ngModel)]="row.note" style="width:98%">
  
            </mat-form-field>
          </td>
  
        </tr>
      </table>
   
    <div class='printdiv' hidden="true">
        <table>
            <tr>
              <h3>إسم المستفيد : {{suppcusname}}</h3>
            </tr>
            <tr>
                <h3>رقم  المرجع : {{ref.id}}</h3>
              </tr>
            <tr>
              <th>الصنف</th>
              <th>العدد</th>
              <th>الكمية المسلمة / المستلمة</th>
              <th>ملاحظات</th>
      
            </tr>
            <tr *ngFor="let row of items">
              <td>{{row.name}}</td>
              <td>{{row.qty}}</td>
              <td>
               {{row.delivered}}
              </td>
              <td>
                {{row.note}}
              </td>
      
            </tr>
          </table>
    </div>

  </mat-card-content>
</mat-card>