<mat-card>

  <mat-card-header>
    <mat-card-title>
      <h1>
        عمليات المخازن (تسليم / إستلام )

      </h1>
    </mat-card-title>

    <!-- <mat-card-title>
            <div *ngIf="retOb.type=='s'">
                <h1>مردودات المبيعات <img src="assets/icnSales.png" alt=""></h1>
            </div>
            <div *ngIf="retOb.type=='p'">
                <h1>مردودات المشتروات <img src="assets/icnPurchase.png" alt=""></h1>
            </div>
        </mat-card-title> -->
    <mat-card-subtitle> عمليات المخازن (تسليم / إستلام )</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <table>
      <thead>
        <tr>
          <th>
            إخترالنوع
          </th>
          <th>
            رقم العملية أو الفاتورة
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <mat-form-field style="width:98%">
              <mat-select placeholder="اختر النوع" [(ngModel)]="delivery.type">

                <mat-option *ngFor='let ch of types' value="ch.value">{{ch.viewValue}} </mat-option>
                <!-- <mat-option value="p">مردودات المشتروات</mat-option>> -->
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input matInput required placeholder=" رقم المرجع " [(ngModel)]="delivery.ref" >

            </mat-form-field>

          </td>
        
        </tr>
        <tr>
          <td style="white-space: nowrap;">
              <button mat-raised-button color="primary"  (click)="getItems()"  > إسترجاع الأصناف من المرجع </button>&nbsp;

          </td>
        
        </tr>
       
      </tbody>
    </table>
    
    <table>
        <tr>
          <th>الصنف</th>
          <th>العدد</th>
          <th>الكمية المسلمة / المستلمة</th>
          <th>ملاحظات</th>

        </tr>
        <tr *ngFor="let row of items">
          <td>{{row.name}}</td>
          <td>{{row.count}}</td>
          <td>{{row.delivered}}</td>
          <td>{{row.note}}</td>

        </tr>
      </table>
      <div id='printDiv'>
        
      </div>

    <!-- <mat-select placeholder="اختر النوع" [(ngModel)]="retOb.type" (click)="typeChanged()"> -->

    <br>
    <!-- <div *ngIf="retOb.type==='p'">
            <table>
                <tr>
                    <th>اسم المورد</th>
                    <td>{{retOb.suppcusname}}</td>
                </tr>
            </table>
            <mat-form-field>
                <input matInput type="text" [(ngModel)]="retOb.id" required placeholder="رقم طلب الشراء">
                <br>
            </mat-form-field>
        </div>
        <div *ngIf="retOb.type==='s'" class="printdiv">
            <table>
                <tr>
                    <th>اسم العميل</th>
                    <td>{{retOb.suppcusname}}</td>
                </tr>
            </table>
            <mat-form-field>
                <input matInput type="text" [(ngModel)]="retOb.id" required placeholder="رقم الفاتوره">
                <br>
            </mat-form-field>
        </div>
        <a mat-raised-button (click)="fetch()" color="primary">احضار البيانات</a>&nbsp;
        <a mat-raised-button (click)="delivered()" color="primary" [disabled]="retOb.row.locked==1 || user.roles.indexOf('s')<0">تم التسليم والاستلام</a>&nbsp;
        <a mat-raised-button (click)="save()" color="primary" [disabled]="retOb.row.locked==1">حفظ التعديلات</a>&nbsp;
        <a mat-raised-button (click)="delete()" color="primary" [disabled]="retOb.row.locked==1">حذف الطلب</a>&nbsp;
        <a mat-raised-button (click)="print()" color="primary">طباعة الطلب</a>&nbsp;
        <div class="printdiv">
            <table>
                <tr>
                    <th>رقم النوع</th>
                    <th>التفاصيل</th>
                    <th>الكميه</th>
                    <th>المردود</th>
                </tr>
                <tr *ngFor="let one of retOb.itemsarr">
                    <td>{{one.id}}</td>
                    <td>{{one.namear}}</td>
                    <td>{{one.count}}</td>
                    <td>
                        <input type="text" required placeholder="" [(ngModel)]="one.return" [disabled]="retOb.row.locked==1">
                    </td>
                </tr>
            </table>
        </div> -->
  </mat-card-content>
</mat-card>