<mat-card>
  <mat-card-header>
    <mat-card-title>علمية السداد والدفعيات</mat-card-title>
  </mat-card-header>
  <h3></h3>
  <mat-card-content>
    <button mat-raised-button color="primary" (click)="forsuppliers()">الدفع للموردين </button>&nbsp;
    <button mat-raised-button color="primary" (click)="fromcustomers()"> إستلام دفعيات العملاء</button>
    <br>

    <mat-form-field *ngIf="processinfo.status=='c'">
      <mat-select placeholder="إختيار العميل" [(ngModel)]="supcus" (change)="selected($event.value)">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let op of cuss" [value]="op">{{op.fullname}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="processinfo.status=='s'">
      <mat-select placeholder="إختيار المورد" [(ngModel)]="supcus" (change)="selected($event.value)">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let op of supp" [value]="op">{{op.fullname}}</mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-form-field>
      <input matInput required placeholder=" اسم العميل" [value]="supcus.fullname" [disabled]="true">
    </mat-form-field>
    <mat-form-field>
      <input matInput required placeholder=" رصيد العميل" [value]="supcus.balance" [disabled]="true">
    </mat-form-field>

    <mat-form-field>
      <input matInput required placeholder=" تلفون العميل" [value]="supcus.data.phone" [disabled]="true">
    </mat-form-field>
    <br>

    <mat-form-field>
      <textarea matInput required placeholder="التعليق " name="paid" [(ngModel)]="sadad.desc" required></textarea>
    </mat-form-field>
    <br>
    <h3> الدفع</h3>
    <mat-form-field>
      <select matNativeControl required class="primary" [(ngModel)]="payment.paymentmethod" placeholder="طريقة الدفع">
        <option *ngFor="let ch of paymentmethods" [(value)]="ch.value">{{ch.viewValue}} </option>

      </select>
    </mat-form-field>
    <mat-form-field>
      <input matInput required placeholder=" المدفوع" name="total" [(ngModel)]="paid" required>
    </mat-form-field>


    <div *ngIf="payment.paymentmethod=='check'">
      <mat-form-field>
        <input matInput required placeholder="قيمة الشيك " name="paid" [(ngModel)]="payment.amount" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput required placeholder="رقم الشيك" name="reminder" [(ngModel)]="payment.checkno" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput required placeholder="اسم البنك " name="paid" [(ngModel)]="payment.bankname" required>
      </mat-form-field>
      <mat-form-field >
          <input matInput [matDatepicker]="date" placeholder=" تاريخ الشيك">
          <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
          <mat-datepicker #date></mat-datepicker>
        </mat-form-field>
      <mat-form-field>
        <input matInput required placeholder="حساب بإسم " name="reminder" [(ngModel)]="payment.checkowner" required>
      </mat-form-field>
      <mat-form-field>
        <select matNativeControl required class="primary" [(ngModel)]="payment.checkstatus" placeholder=" حالة الشيك"
          (focusout)="pushpayment(payment)">
          <option *ngFor="let ch of checkstatus" [(value)]="ch.value">{{ch.viewValue}} </option>

        </select>
      </mat-form-field>
    </div>

    <div *ngIf="payment.paymentmethod=='cash'">
      <mat-form-field>
        <input matInput required placeholder="المدفوع " name="paid" [(ngModel)]="payment.amount" required (focusout)="pushpayment(payment)">
      </mat-form-field>

    </div>
    <button mat-raised-button (click)="addpayment(payment)">
      <img src="assets/icnAdd.png" alt="" width="32" class="btn-img">
    </button>


  </mat-card-content>
</mat-card>