<div class="forms ar" dir="rtl">
  <h1>إدخال بيانات الأقسام</h1>
  <form name="product_form" class="form-vertical" role="form" novalidate>
   
    <table >
      <tr>
        <td>
            <label>إسم الصنف</label>
        </td>
     
        <td>
            <input type="text" class="form-control" name="idBrands" placeholder="الإسم" focus />
        </td>
        <td>
            <label>إسم الرقم</label>
        </td>
        <td>
            <input class="form-control" name="BrandName" placeholder=""  />
        </td>
      </tr>
      
    </table>
    
   

      
  

   
  </form>

</div>
