.ar {
  text-align: right;
}


.container {
  margin-top: 20px;
  display: flex;
}

.mat-card {
  width: 500px;
  margin-right: 10px;
}

.btn-img {
  cursor: pointer;
}

.btn-img:hover {
  border: 2px solid #2980b9;
  width: 28px;
}

.mat-form-field {
  width: 100%;
}
mat-checkbox{
  margin-right: 10px;
}