<div class="container ar" dir="rtl">
  <br>
  <mat-card class="users-card">
    <mat-card-header>
      <mat-card-title>اداره المستخدمين</mat-card-title>
      <mat-card-subtitle>شاشه اداريه عليا</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <button mat-raised-button color="primary" (click)="refreshUsers()">تحديث المستخدمين</button>
      <button mat-raised-button color="primary" (click)="addUser()">اضافة مستخدم جديد</button>
      <br>
      <br>
      <div *ngIf="users!=null">
        <table>
          <tr>
            <th>اسم الدخول</th>
            <th>الاسم الكامل</th>
          </tr>
          <tr *ngFor="let user of users">
            <td>{{user.username}}</td>
            <td>{{user.fullname}}</td>
            <td>
              <img src="assets/icnEdit.png" alt="" width="32" (click)="edit(user)" class="btn-img" matTooltip="Edit user data">
            </td>
            <td>
              <img src="assets/icnStore.png" alt="" width="32" (click)="setStores(user)" class="btn-img" matTooltip="Edit user Stores">
            </td>
            <td>
              <img src="assets/icnBranch.png" alt="" width="32" (click)="setBranches(user)" class="btn-img" matTooltip="Edit user Branches">
            </td>
            <td *ngIf="user.locked==1">
              <img src="assets/icnLocked.png" alt="" width="32" (click)="unlock(user)" class="btn-img" matTooltip="Unlock this user">
            </td>
            <td *ngIf="user.locked==0">
              <img src="assets/icnUnlocked.png" alt="" width="32" (click)="lock(user)" class="btn-img" matTooltip="Lock this user">
            </td>
            <td>
              <img src="assets/icnDelete.png" alt="" width="32" (click)="delete(user)" class="btn-img" matTooltip="Delete this user">
            </td>
          </tr>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
  <div *ngIf="action=='editbranches'">
    <mat-card>
      <mat-card-header>
        <mat-card-title>تعديل الأفرع</mat-card-title>
        <mat-card-subtitle>تعديل أفرع المستخدم</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <table>
          <tr>
            <th>اسم الفرع</th>
            <th>اضف أو اذل</th>
          </tr>
          <tr *ngFor="let one of branches">
            <td>{{one.titlear}}</td>
            <div *ngIf="actionUserBranches.indexOf(one.id)>=0">
              <td>
                <img src="assets/icnDelete.png" width="32" alt="" (click)="deleteSB(one)" class="btn-img" matTooltip="Remove Branch from user">
              </td>
            </div>
            <div *ngIf="actionUserBranches.indexOf(one.id)<0">
              <td>
                <img src="assets/icnAdd.png" width="32" alt="" (click)="addSB(one)" class="btn-img" matTooltip="Add Branch to user">
              </td>
            </div>
          </tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngIf="action=='editstores'">
    <mat-card>
      <mat-card-header>
        <mat-card-title>تعديل المخازن</mat-card-title>
        <mat-card-subtitle>تعديل مخازن المستخدم</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <table>
          <tr>
            <th>اسم المخزن</th>
            <th>أضف أو أذل</th>
          </tr>
          <tr *ngFor="let one of stores">
            <td>{{one.titlear}}</td>
            <div *ngIf="actionUserStores.indexOf(one.id)>=0">
              <td>
                <img src="assets/icnDelete.png" alt="" width="32" (click)="deleteSB(one)" class="btn-img" matTooltip="Remove Store from user">
              </td>
            </div>
            <div *ngIf="actionUserStores.indexOf(one.id)<0">
              <td>
                <img src="assets/icnAdd.png" alt="" width="32" (click)="addSB(one)" class="btn-img" matTooltip="Add Store to user">
              </td>
            </div>
          </tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngIf="action=='edituser' ||action=='adduser' ">
    <mat-card>

      <mat-card-header>
        <div *ngIf="action=='edituser'">
          <mat-card-title>تعديل بيانات المستخدمين</mat-card-title>
          <mat-card-subtitle>تعديل المستخدم : {{actionUser.fullname}}</mat-card-subtitle>
        </div>
        <div *ngIf="action=='adduser'">
          <mat-card-title>إضافة المستخدمين</mat-card-title>
          <mat-card-subtitle>إضافة مستخدم جديد</mat-card-subtitle>
        </div>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field>
          <input matInput placeholder="الاسم الكامل" name="fullname" [(ngModel)]="actionUser.fullname">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="اسم الدخول" name="username" [(ngModel)]="actionUser.username">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="رقم الهاتف" name="phone" [(ngModel)]="actionUser.phone" type="phone">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="رصيد المستخدم" name="balance" [(ngModel)]="actionUser.balance" readonly>
        </mat-form-field>
        <br>
        <span>محظور أو مسموح</span>
        <img *ngIf="actionUser.locked==1" src="assets/icnLocked.png" width="32" alt="" (click)="actionUser.locked=!actionUser.locked"
          class="btn-img" matTooltip="Unlock this user">
        <img *ngIf="actionUser.locked==0" src="assets/icnUnlocked.png" width="32" alt="" (click)="actionUser.locked=!actionUser.locked"
          class="btn-img" matTooltip="Lock this user">
        <br>
        <hr>
        الصلاحيات المتاحه للمستخدم
        <br>
        <mat-checkbox (click)="role('t')" [checked]='actionUser.roles.indexOf("t")>=0'>مدير أعلى</mat-checkbox>
        <mat-checkbox (click)="role('a')" [checked]='actionUser.roles.indexOf("a")>=0'>مدير</mat-checkbox>
        <mat-checkbox (click)="role('s')" [checked]='actionUser.roles.indexOf("s")>=0'>مخازن</mat-checkbox>
        <mat-checkbox (click)="role('b')" [checked]='actionUser.roles.indexOf("b")>=0'>فروع بيع</mat-checkbox>
        <mat-checkbox (click)="role('u')" [checked]='actionUser.roles.indexOf("u")>=0'>مستخدم</mat-checkbox>
        <mat-checkbox (click)="role('v')" [checked]='actionUser.roles.indexOf("v")>=0'>مشاهد</mat-checkbox>
        <hr>
        <br>
        <button mat-raised-button color="primary" (click)="saveUser()">حفظ</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>