<div class="container">

  <mat-card>
    <h2>المخازن</h2>
    <table>
      <tr>
        <th>المخزن</th>

      </tr>
      <tr *ngFor="let row of inventories;let i = index;">
        <td>
          {{getstorename(row.id)}}

        </td>

        <td>
          <img src="assets/icnBranches.png" alt="" width="32" (click)="viewItems(row.data,row.id,'show',i)">
        </td>
      </tr>
      <tr>
          <img src="assets/icnAdd.png" alt="" width="32" (click)="openinsertitem('add')" class="btn-img"
            matTooltip="إضافة البضاعة إلى المخزن">
        </tr>
      <tr>
        <img *ngIf="touched.length>0 || new.length>0" src="assets/icnSave.png" alt="" width="32" (click)="save()" class="btn-img"
          matTooltip="هنالك تغيرات الرجاء الحفظ">
      </tr>
    </table>
  </mat-card>

  <mat-card>
    <div *ngIf="entrytype=='add'">
      <h2> الإضافة إلى مخزن {{getstorename(processinfo.store)}}</h2>
      <mat-form-field>
          <select matNativeControl required class="primary" placeholder="إختيار المخزن" [(ngModel)]="processinfo.store">
            <option [value]="0">
             ... إختيار 
            </option>
            <option *ngFor="let option of stores " [value]="option.id">
              {{option.namear}}
            </option>
          </select>
        </mat-form-field>
      <mat-form-field>
        <select matNativeControl required class="primary" placeholder=" الأصناف الرئيسية" [(ngModel)]="processinfo.parent"
          (change)="getitemsbyclass()">
          <option *ngFor="let option of classes " [value]="option.id">
            {{option.namear}}
          </option>

        </select>
      </mat-form-field>
      <mat-form-field>
        <select matNativeControl required class="primary" placeholder="إختيار الصنف" [(ngModel)]="item.id">
          <option [value]="0">
            إختيار ...
          </option>
          <option *ngFor="let option of list " [value]="option.id">
            {{option.namear}}
          </option>

        </select>
        <!-- <input matInput required placeholder="العنصر" name="email" [(ngModel)]="item.id"> -->
      </mat-form-field>
      <mat-form-field>
        <input matInput required placeholder="المتاح" name="email" [(ngModel)]="item.avb">
      </mat-form-field>
      <mat-form-field>
        <input matInput required placeholder="المحجوز " name="email" [(ngModel)]="item.rsv">
      </mat-form-field>
      <mat-form-field>
        <input matInput required placeholder="الكمية المطلوبة" name="email" [(ngModel)]="item.com">
      </mat-form-field>
     

      <br>
      <button mat-raised-button (click)="additemtolist(item)" color="primary">حفظ</button>
    </div>

    <button mat-raised-button (click)="print()" color="primary">  طباعة التقرير</button>
    <div class="printdiv">
      <div *ngIf="entrytype=='show'">
        <table>
          
          <tr>
        <h1>مخزن {{display}}</h1>
            
          </tr>
          <tr>
            <th>الصنف </th>
            <th>المتاح</th>
            <th>المحجوز</th>
            <th>بضاعة قادمة</th>
          </tr>
          <tr *ngFor="let r of items;let i = index;">
  
            <td>{{getproductname(r.id)}}</td>
            <td>{{r.avb}}</td>
            <td>{{r.rsv}}</td>
            <td>{{r.com}}</td>
            <!-- <td>
              <img src="assets/icnDelete.png" alt="" width="32" (click)="remove(r,i,actionstore)" class="btn-img" matTooltip="Edit user data">
            </td> -->
          </tr>
      </table>
      </div>
    </div>
  </mat-card>
</div>