<nav class="nav nav-bar top">
    <a routerLink="/printing">Login</a>
    &nbsp;
    <a routerLink="/userforms">usersform</a>
    &nbsp;
    <a routerLink="/SuppCus">SuppCus</a>
   
    
    
</nav>


<mat-menu #appMenu="matMenu">
    <button mat-menu-item><a routerLink="/printing">Login</a></button>
    <button mat-menu-item><a routerLink="/userforms">usersform</a></button>
  </mat-menu>
  
  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
  