<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h1>المردودات</h1>
        </mat-card-title>
        <mat-card-subtitle>مردودات المبيعات والمشتروات</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field>
            <mat-select placeholder="اختر النوع" [(ngModel)]="returns.type">
                <mat-option value="s">مردودات المبيعات</mat-option>
                <mat-option value="p">مردودات المشتروات</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <div *ngIf="returns.type==='p'">
        </div>
        <div *ngIf="returns.type==='s'">
            <mat-form-field>
                <input matInput type="text" [(ngModel)]="returns.id" required placeholder="رقم الفاتوره أو الطلب">
                <br>
            </mat-form-field>
            <a mat-raised-button (click)="fetch()" color="primary">جلب الفاتوره أو الطلب</a>&nbsp;
            <a mat-raised-button (click)="save()" color="primary">حفظ</a>&nbsp;
            <a mat-raised-button (click)="delivered()" color="primary">تأكيد الاستلام</a>&nbsp;
            <a mat-raised-button (click)="delete()" color="primary">حذف الطلب</a>
            <table>
                <tr>
                    <th>رقم النوع</th>
                    <th>التفاصيل</th>
                    <th>الكميه</th>
                    <th>المردود</th>
                </tr>
                <tr *ngFor="let one of returns.data">
                    <td>{{one.itemid}}</td>
                    <td>{{one.name}}</td>
                    <td>{{one.qty}}</td>
                    <td>
                        <input type="text" required placeholder="" [value]="one.return">
                    </td>
                </tr>
            </table>
        </div>
    </mat-card-content>
</mat-card>